*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(45, 44, 44);
   
   
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width:30vw;
    height: 80vh;
    background-color: rgb(245, 245, 207);
    /* border-radius: 50px; */
}
label{
    display: inline-block;
    width: 100px;
    margin: 0.5rem;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}
.signup-btn{
    width: 40%;
    height: 5%;
    border-radius: 30px;
    background-color: rgb(139, 139, 13);
    color: white;
    border-style: none;
    font-size: 1.2rem;
    font-weight: 700;
    
    transition: height,width,0.5s;
  
    
}
.signup-btn:hover{
    background-color:hwb(60 0% 0%) ;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    width: 50%;
    height: 8%;
}
.error{
    background-color: white;
    color: red;
    border: 2px solid red;
    width: 50%;
    text-align: center;
}